<h1>Shipping</h1>
<div class="row">
    <div class="col-md-6">
                <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" name="Name" id="Name">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Address">Address</label>
            <input type="text" class="form-control" name="Address" id="Address" placeholder="line1">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="Address" id="Address" placeholder="line1">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="City">City</label>
            <input type="text" class="form-control" name="City" id="City">
        </div>
    </div>
</div>

<button class="btn btn-primary">Place Order</button>