<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
    <input [(ngModel)]="query" type="text" (keyup)="filter()" class="form-control" placeholder="Search...">
</p>
<!-- <div class="example-header">
    Page Size:
    <select (change)="onPageSizeChanged()" id="page-size">
      <option value="10" selected="">10</option>
      <option value="100">100</option>
      <option value="500">500</option>
      <option value="1000">1000</option>
    </select>
</div> -->
<ag-grid-angular style="width: 100%;height: 500px;" class="ag-theme-alpine" [columnDefs]="columnDefs"
    [rowData]="rowData">
    <!-- #agGrid
      style="width: 100%; height: 100%;"
      id="myGrid"
      [pagination]="true"> -->
        
</ag-grid-angular>
<!-- <table class="table">
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th></th>
    </tr>
    <tr *ngFor="let p of filteredProducts">
        <td>{{p.data.title}}</td>
        <td>{{p.data.price}}</td>
        <td>
            <a routerLink="/admin/products/{{p.key}}">Edit</a>
        </td>
    </tr>
</table> -->