<div class="row">
    <div class="col-3">
        <div class="list-group sticky-top">
            <a class="list-group-item list-group-item-action" routerLink="/" [queryParams]="{category: 'all'}"
                [class.active]="category==='all'"> All Categories
            </a>
            <a *ngFor="let c of categories$ | async" routerLink="/" [queryParams]="{category: c.name}"
                [class.active]="category===c.name" class="list-group-item list-group-item-action">
                {{c.name}}
            </a>
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <ng-container *ngFor="let p of filterdProducts;let i=index">
                <product-card [p]="p"></product-card>
                <div *ngIf="(i+1)%2==0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>















